.login-root-div {
  margin-top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div-login-input {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  margin: 25px;
  padding: 1em 2em;
  background: #efefef;
  border: none;
  border-radius: 1.5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: start;
  outline: none;
  transition: 0.2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}

.div-login-input:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.row-login-input {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.login-input {
  width: 100%;
  background-color: transparent;
  font-size: 1.5rem;
  border-style: none;
}

.login-input:focus {
  outline: none;
}

.login-page-btn-div {
  margin: 25px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 2rem;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  padding: 1.5em 10em;
  background: #efefef;
  border: none;
  border-radius: 50px;
  color: #444;
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: start;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}

.login-page-btn:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.login-page-btn:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.todo-edit-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo {
  cursor: pointer;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.demo:hover {
  padding: 10px;
  border-radius: 25px;
  background-color: rgba(206, 206, 206, 0.1);
  backdrop-filter: blur(5px);
}

.demo:active {
  padding: 10px;
  border-radius: 25px;
  background-color: rgba(253, 253, 253, 0.1);
  backdrop-filter: blur(5px);
}

.login-title{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-align: start;
  color: rgb(74, 123, 202);
}